@using UserSearch.Controllers;
@model UserSearch.Models.User

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>
    <div>
        @if (Model.UserMedia != null && Model.UserMedia.Count > 0)
        {
            <p>Images</p>
            @foreach (var userMedia in Model.UserMedia)
            {
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-middle">
                                <div>
                                    <img class="media-object" src="@Url.Action(nameof(MediaController.Thumbnail), "Media", values: new { id = userMedia.MediaId })" />
                                </div>
                            </div>
                            <div class="media-body">
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>
